@charset "UTF-8";
/* Estilos generales para todas las secciones */
body {
  background-image: url(../images/back-img-bn.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: "Raleway", sans-serif;
}

h1 {
  color: gold;
  letter-spacing: 2px;
}

h2 {
  color: gold;
  letter-spacing: 2px;
}

p {
  color: whitesmoke;
  letter-spacing: 2px;
}

.tituloContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  height: 80px;
  background: white;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, black 78%);
  margin-top: 70px;
  margin-left: 800px;
  padding-right: 30px;
  transform: skewX(50%);
}

.tituloItem {
  font-size: 40px;
}

.tituloItem:hover {
  transform: rotateX(360deg);
  transition: 1.9s;
}

@media only screen and (max-width: 1200px) {
  .body {
    background-size: contain;
  }

  .tituloContainer {
    background: #0e0e0e;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: min-content;
    margin-top: 50px;
    margin-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
  }

  .tituloItem {
    font-size: 20px;
  }
}
/* Colores */
/* Cuerpo - Sección principal */
.col-container {
  margin-top: 60px;
}

.carousel-inner {
  padding: 15px;
  background-color: #0e0e0e;
  border-radius: 10px;
}

.paragraphPrinc {
  background-color: #0e0e0e;
  border-radius: 8px;
  padding: 2%;
  font-size: 20px;
  text-align: right;
  overflow: hidden;
}

.boton {
  margin-top: 25px;
}

.tituloPrinc {
  font-size: 20px;
  margin-bottom: 22px;
}

/* Secciones navegables con breve descripción */
.tarjeta {
  height: 400px;
  font-size: 12px;
  overflow: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  align-items: center;
  background-color: #0e0e0e;
}

.btn-outline-warning:hover {
  transform: scale(1.2, 1.2);
  transition: 0.5s;
}

.card-img-top {
  height: 150px;
  width: 250px;
  padding: 12px;
  margin-top: 6px;
  border-radius: 15px;
}

.card-title {
  color: gold;
}

/* About this site*/
.gridAboutContainer {
  display: grid;
  justify-content: space-around;
  align-content: space-around;
  grid-template-columns: 620px 590px;
  grid-template-rows: 420px;
  grid-template-areas: "article imagen";
  margin-top: 80px;
  margin-bottom: 88px;
  padding: 18px;
}

.articleAboutContainer {
  background-color: #0e0e0e;
  border-radius: 8px;
  display: grid;
  grid-area: "article";
  font-size: 20px;
  text-align: justify;
  padding: 30px;
}

.imgAboutContainer {
  background-color: #0e0e0e;
  border-radius: 8px;
  display: grid;
  grid-area: "imagen";
  justify-content: center;
  align-content: center;
}

.imgAbout {
  border-radius: 8px;
}

@media only screen and (max-width: 1200px) {
  .gridAboutContainer {
    grid-template-columns: 590px;
    grid-template-rows: 420px 420px;
    grid-template-areas: "article";
    grid-template-areas: "imagen";
    row-gap: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .gridAboutContainer {
    grid-template-columns: 340px;
    grid-template-rows: 320px 250px;
    padding: 10px;
    grid-template-areas: "article";
    grid-template-areas: "imagen";
    row-gap: 50px;
  }

  .articleAboutContainer {
    font-size: 12px;
  }

  .imgAbout {
    width: 280px;
  }
}
/* Equipment */
.equipmentContainer1 {
  display: grid;
  grid-template-columns: 310px 310px 310px;
  grid-template-rows: min-content;
  justify-content: center;
  column-gap: 100px;
  row-gap: 100px;
  margin-top: 60px;
}

.equipmentContainer2 {
  display: grid;
  grid-template-columns: 310px 310px;
  grid-template-rows: min-content;
  justify-content: center;
  column-gap: 100px;
  row-gap: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.equipmentCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0e0e0e;
  padding: 10px;
  border-radius: 8px;
  overflow: auto;
}

.imgEquipment {
  margin: 10px;
  border-radius: 8px;
}

.equipmentTittles {
  text-align: center;
  margin-top: 10px;
}

.equipmentItems {
  list-style: circle;
  color: whitesmoke;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .equipmentContainer1 {
    grid-template-columns: 300px 300px;
    grid-template-rows: min-content;
    align-items: auto;
    justify-content: auto;
  }

  .equipmentContainer2 {
    grid-template-columns: 300px 300px;
    grid-template-rows: min-content;
    align-items: auto;
    justify-content: auto;
  }
}
@media only screen and (max-width: 700px) {
  .equipmentContainer1 {
    grid-template-columns: 300px;
    grid-template-rows: min-content;
    align-items: auto;
    justify-content: auto;
  }

  .equipmentContainer2 {
    grid-template-columns: 300px;
    grid-template-rows: min-content;
    align-items: auto;
    justify-content: auto;
  }
}
/* Audio examples */
.gridContainer {
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: space-around;
  margin-top: 62px;
  margin-bottom: 62px;
}

.gridItem1 {
  background: #0e0e0e;
  width: 500px;
  height: 480px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
}

.gridItem2 {
  background: #0e0e0e;
  width: 350px;
  height: 500px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
}

.yt {
  padding: 5px;
  margin-top: 10px;
}

.sp {
  padding: 5px;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .gridContainer {
    grid-template-columns: 400px;
    justify-content: auto;
  }

  .gridItem1 {
    width: auto;
    height: auto;
    margin-bottom: 80px;
  }

  .yt {
    width: 250px;
  }

  .gridItem2 {
    width: auto;
    height: auto;
  }

  .sp {
    width: 250px;
  }
}
@media only screen and (max-width: 400px) {
  .gridContainer {
    grid-template-columns: 280px;
    justify-content: auto;
  }

  .gridItem1 {
    width: auto;
    height: auto;
    margin-bottom: 80px;
  }

  .yt {
    width: 250px;
  }

  .gridItem2 {
    width: auto;
    height: auto;
  }

  .sp {
    width: 250px;
  }
}
/* Contact - Request a session */
.contactContainer {
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: space-around;
  grid-template-areas: "instructions form";
  margin-top: 55px;
  margin-bottom: 53px;
}

.articleRequest {
  grid-area: "instructions";
  background: #0e0e0e;
  width: 600px;
  border-radius: 8px;
  padding: 25px;
}

.itemRequest {
  font-size: 18px;
}

.listRequest {
  color: whitesmoke;
  margin-left: 15px;
  margin-right: 15px;
}

.formRequest {
  grid-area: "form";
  background: #0e0e0e;
  padding: 15px;
  border-radius: 8px;
}

.form-label {
  color: whitesmoke;
}

#fillForm {
  height: 240px;
}

@media only screen and (max-width: 1200px) {
  .contactContainer {
    grid-template-columns: 300px;
    grid-template-areas: "instructions";
    grid-template-areas: "form";
    row-gap: 80px;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .contactContainer {
    grid-template-columns: 300px;
    grid-template-areas: "instructions";
    grid-template-areas: "form";
    row-gap: 80px;
    justify-items: center;
    align-items: center;
  }

  .articleRequest {
    width: 300px;
    font-size: 10px;
  }
}
/* Drum tracks */
.drumContainer {
  display: grid;
  grid-template-columns: 700px 500px;
  grid-template-rows: 400px;
  column-gap: 80px;
  justify-content: center;
  margin-top: 110px;
  margin-bottom: 114px;
}

.tableSectionContainer {
  background: #0e0e0e;
  border-radius: 8px;
  padding: 18px;
}

.table {
  color: whitesmoke;
}

.howToContainer {
  display: grid;
  background: #0e0e0e;
  justify-items: center;
  font-size: 18px;
  color: whitesmoke;
  border-radius: 8px;
  padding: 18px;
}

.btn-outline-warning {
  margin-bottom: 20px;
}

.btn-outline-warning:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

@media only screen and (max-width: 1200px) {
  .drumContainer {
    grid-template-columns: 700px;
    grid-template-rows: auto auto;
    justify-content: center;
  }

  .tableSectionContainer {
    margin: 40px;
    font-size: 12px;
  }

  .howToContainer {
    margin: 60px;
    font-size: 15px;
  }

  .h2 {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .drumContainer {
    grid-template-columns: 400px;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .tableSectionContainer {
    margin: 40px;
    font-size: 8px;
  }

  .howToContainer {
    margin: 40px;
    font-size: 15px;
  }

  .h2 {
    font-size: 12px;
  }
}
/* Footer Bootstrap */
.text-footer {
  color: whitesmoke;
}

.text-footer:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

.dropdown-menu {
  background-color: #0e0e0e;
  text-align: center;
}

.link-footer {
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
}

.link-hover:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
