/* Colors and sizes */

$background: rgb(14, 14, 14);
$back-gradient: rgb(0,0,0);
$gradient: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7035189075630253) 41%, rgba(0,0,0,0.30575980392156865) 100%);
$titulos: gold;
$textos: whitesmoke;
$bordes: 8px;
