/* Cuerpo - Sección principal */

.col-container {
    margin-top: 60px;
}

.carousel-inner {
    padding: 15px;
    background-color: $background;
    border-radius: 10px;
}

.paragraphPrinc {
    background-color: $background;
    border-radius: 8px;
    padding: 2%;
    font-size: 20px;
    text-align: right;
    overflow: hidden;
}

.boton {
    margin-top: 25px;
}

.tituloPrinc {
    font-size: 20px;
    margin-bottom: 22px;
}