/* Cuerpo - Sección principal */

.col-container {
<<<<<<< HEAD
    margin-top: 60px;
=======
    margin-top: 50px;
>>>>>>> c3c221ea7c38504ea64ed2496e84168900a9863e
}

.carousel-inner {
    padding: 15px;
    background-color: $background;
    border-radius: 10px;
}

<<<<<<< HEAD
=======
.carousel-inner:hover {
    transform: translateX(-10px);
    transition: 1s;
}

>>>>>>> c3c221ea7c38504ea64ed2496e84168900a9863e
.paragraphPrinc {
    background-color: $background;
    border-radius: 8px;
    padding: 2%;
    font-size: 20px;
    text-align: right;
    overflow: hidden;
}

<<<<<<< HEAD
=======
.paragraphPrinc:hover {
    transform: translateX(10px);
    transition: 1s;
}

>>>>>>> c3c221ea7c38504ea64ed2496e84168900a9863e
.boton {
    margin-top: 25px;
}

.tituloPrinc {
    font-size: 20px;
    margin-bottom: 22px;
}