/* Footer Bootstrap */

.text-footer {
<<<<<<< HEAD
    color: $textos;
=======
    color: whitesmoke;
>>>>>>> 57d5156f3f184108d0fc85e0bbdcf6b2a22385bb
}

.text-footer:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}

.dropdown-menu {
    background-color: rgb(14, 14, 14);
    text-align: center;
}

.link-footer {
    text-decoration: none;
    font-size: 20px;
<<<<<<< HEAD
    color: $textos
=======
    color: whitesmoke;
>>>>>>> 57d5156f3f184108d0fc85e0bbdcf6b2a22385bb
}

.link-hover:hover {
    transform: scale(1.1);
    transition: 0.5s;
}