/* Estilos generales para todas las secciones */

body {
    background-image: url(../images/back-img-bn.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: 'Raleway', sans-serif;
}

@mixin h1-h2 {
    color: gold;
    letter-spacing: 2px;
}

h1 {
    @include h1-h2
}

h2 {
    @include h1-h2
}

p {
    color: whitesmoke;
    letter-spacing: 2px;
}

.tituloContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    height: 80px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 5%, rgba(0,0,0,1) 95%);
    margin-top: 70px;
    margin-left: 800px;
    padding-right: 30px;
    transform: skewX(50%);
}

.tituloItem {
    font-size: 30px;
}

.tituloItem:hover {
    transform: rotateX(360deg);
    transition: 1.9s;
}

@media only screen and (max-width: 1200px) {
    .tituloContainer {
        background: rgb(14, 14, 14);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: min-content;
        margin-top: 50px;
        margin-left: 0px;
        padding-right: 0px;
        padding-top: 8px;
    }
    .tituloItem {
        font-size: 20px;
    }
}
@media only screen and (max-width: 700px) {
    body {
        background-image: url(../images/back-img-1200.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
}