/* About this site*/

.gridAboutContainer {
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    grid-template-columns: 620px 590px;
    grid-template-rows: 420px;
    grid-template-areas: 
    "article imagen";
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 20px;
}

.articleAboutContainer {
    background-color: $background;
    border-radius: 8px;
    display: grid;
    grid-area: article;
    font-size: 20px;
    text-align: justify;
    padding: 30px;
}

.imgAboutContainer {
    background-color: $background;
    border-radius: 8px;
    display: grid;
    grid-area: imagen;
    justify-content: center;
    align-content: center;
}

.imgAbout {
    border-radius: 8px;
}