/* About this site*/

.gridAboutContainer {
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    grid-template-columns: 620px 590px;
    grid-template-rows: 420px;
    grid-template-areas: "article imagen";
    margin-top: 80px;
    margin-bottom: 88px;
    padding: 18px;
}

.articleAboutContainer {
    background-color: $background;
    border-radius: 8px;
    display: grid;
    grid-area: "article";
    font-size: 20px;
    text-align: justify;
    padding: 30px;
}

.imgAboutContainer {
    background-color: $background;
    border-radius: 8px;
    display: grid;
    grid-area: "imagen";
    justify-content: center;
    align-content: center;
}

.imgAbout {
    border-radius: 8px;
}

@media only screen and (max-width: 1200px) {
    .gridAboutContainer {
        grid-template-columns: 590px;
        grid-template-rows: 420px 420px;
        grid-template-areas: "article";
        grid-template-areas: "imagen";
        row-gap: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .gridAboutContainer {
        grid-template-columns: 300px;
        grid-template-rows: 400px 210px;
        padding: 10px;
        grid-template-areas: "article";
        grid-template-areas: "imagen";
        row-gap: 50px;
    }

    .articleAboutContainer {
        font-size: 12px;
    }

    .imgAbout {
        width: 280px;
    }
}
