/* Formulario contacto */

.formContainer {
    display: flex;
    justify-content: center;
    margin: 80px;
}

.formItem {
    color: $textos;
    background: $back-gradient;
    background: $gradient;
    padding: 50px;
    border-radius: 8px;
}

.formClass {
    margin: 10px;
    padding: 10px;
}


.suscribe {
    color: $textos;
    margin: 10px
}