/* Formulario contacto */

.formContainer {
    display: flex;
    justify-content: center;
    margin: 80px;
}

.formItem {
<<<<<<< HEAD
    color: $textos;
=======
    color: whitesmoke;
>>>>>>> 57d5156f3f184108d0fc85e0bbdcf6b2a22385bb
    background: $back-gradient;
    background: $gradient;
    padding: 50px;
    border-radius: 8px;
}

.formClass {
    margin: 10px;
    padding: 10px;
}


.suscribe {
<<<<<<< HEAD
    color: $textos;
=======
    color: whitesmoke;
>>>>>>> 57d5156f3f184108d0fc85e0bbdcf6b2a22385bb
    margin: 10px
}