/* Equipment */ 

.equipmentContainer {
    display: grid;
    grid-template-columns: 310px 310px 310px;
    grid-template-rows: 400px 640px;
    justify-content: center;
    column-gap: 100px;
    row-gap: 100px;
    margin-top: 60px;
    margin-bottom: 120px;
}

.equipmentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;
    padding: 10px;
    border-radius: 8px;
    overflow: auto;
}

.imgEquipment {
    margin: 10px;
    border-radius: 8px;
}

.equipmentTittles {
    text-align: center;
    margin-top: 10px;
}

.equipmentItems {
    list-style: circle;
    color: $textos;
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
    .equipmentContainer {
        grid-template-columns: 300px 300px;
        align-items: auto;
        justify-content: auto;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .equipmentContainer {
        grid-template-columns: 300px;
        align-items: auto;
        justify-content: auto;
    }
  }
