/* Equipment */ 

.equipmentContainer1 {
    display: grid;
    grid-template-columns: 310px 310px 310px;
    grid-template-rows: min-content;
    justify-content: center;
    column-gap: 100px;
    row-gap: 100px;
    margin-top: 60px;
}

.equipmentContainer2 {
    display: grid;
    grid-template-columns: 310px 310px;
    grid-template-rows: min-content;
    justify-content: center;
    column-gap: 100px;
    row-gap: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.equipmentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;
    padding: 10px;
    border-radius: $bordes;
    overflow: auto;
}

.imgEquipment {
    margin: 10px;
    border-radius: $bordes;
}

.equipmentTittles {
    text-align: center;
    margin-top: 10px;
}

.equipmentItems {
    list-style: circle;
    color: $textos;
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
    .equipmentContainer1 {
        grid-template-columns: 300px 300px;
        grid-template-rows: min-content;
        align-items: auto;
        justify-content: auto;
    }
    .equipmentContainer2 {
        grid-template-columns: 300px 300px;
        grid-template-rows: min-content;
        align-items: auto;
        justify-content: auto;
    }
    .equipmentTittles {
        font-size: 20px;
    }
    .equipmentItems {
        font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .equipmentContainer1 {
        grid-template-columns: 300px;
        grid-template-rows: min-content;
        align-items: auto;
        justify-content: auto;
    }
    .equipmentContainer2 {
        grid-template-columns: 300px;
        grid-template-rows: min-content;
        align-items: auto;
        justify-content: auto;
    }
  }
