/* Drum tracks */

.drumContainer {
    display: grid;
    grid-template-columns: 700px 500px;
    grid-template-rows: 400px;
    column-gap: 80px;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 114px;
}

.tableSectionContainer {
    background: $background;
    border-radius: 8px;
    padding: 18px;
}

.table {
    color: $textos;
}

.howToContainer {
    display: grid;
    background: $background;
    justify-items: center;
    font-size: 18px;
    color: $textos;
    border-radius: 8px;
    padding: 18px;
}

.btn-outline-warning {
    margin-bottom: 20px;
}

.btn-outline-warning:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}

@media only screen and (max-width: 1200px) {
    .drumContainer {
        grid-template-columns: 700px;
        grid-template-rows: auto auto;
        justify-content: center;
    }
    .tableSectionContainer {
        margin: 40px;
        font-size: 12px;
    }
    .howToContainer {
        margin: 60px;
        font-size: 15px;
    }
    .h2 {
        font-size: 12px;
    }
    
}

@media only screen and (max-width: 600px) {
    .drumContainer {
        grid-template-columns: 400px;
        grid-template-rows: auto auto;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .tableSectionContainer {
        margin: 40px;
        font-size: 8px;
    }
    .howToContainer {
        margin: 40px;
        font-size: 15px;
    }
    .h2 {
        font-size: 12px;
    }
    
}